<!-- /*
* File: login.component.html
* Author: Hermányi Gergely
* Copyright: 2022, Hermányi Gergely
* Group: Szoft-II-N
* Date: 2022-02-24
* Github: https://github.com/TheRealGerriii
* Licenc: GNU GPL
*/ -->
<p>login works!</p>

<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Felhasználónév</label>
      <input type="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="user">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Jelszó</label>
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="pass">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>